<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Roboto+Mono:wght@200;400&display=swap" rel="stylesheet">
        <title>Document</title>
    </head>
    <body>
        <header>
            <div class="logo_reg">
                <div class="logo">
                    <a href="" class="logo_link">
                        <div class="logo_text">Forum</div>
                    </a>
                </div>
                <div class="signs">
                    <a href="" class="sign_link">
                        <div class="sign_text">Sign in</div>
                    </a>
                    <a href="" class="sign_link">
                        <div class="sign_text">Sign up</div>
                    </a>
                </div>
            </div>
            
        </header>
    </body>
</html>