<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Roboto+Mono:wght@200;400&display=swap" rel="stylesheet">
        <title>Document</title>
    </head>
    <body>
        <div class="bg"></div>
        <div class="bg bg2"></div>
        <div class="bg bg3"></div>
        <header>
            <div class="logo_reg">
                <div class="logo">
                    <a href="" class="logo_link">
                        <div class="logo_text">Forum</div>
                    </a>
                </div>
                <ul class="signs">
                    <li onclick="location.href=''" class="sign_link">Sign in</li>
                    <li onclick="location.href=''" class="sign_link">Sign up</li>
                </ul>
            </div>
            <div class="line">
                <div class="post">
                    <div class="title_author">
                        <div onclick="location.href=''" class="title">Title Name</div>
                        <div class="author">Author</div>
                    </div>
                    <div class="border"></div>
                    <div class="categories">
                        <div class="categorie">cat.1</div>
                        <div class="categorie">cat.2</div>
                    </div>
                </div>
                <div class="post">
                    <div class="title_author">
                        <div onclick="location.href=''" class="title">Title Name</div>
                        <div class="author">Author</div>
                    </div>
                    <div class="border"></div>
                    <div class="categories">
                        <div class="categorie">cat.1</div>
                        <div class="categorie">cat.2</div>
                    </div>
                </div>
                <div class="post">
                    <div class="title_author">
                        <div onclick="location.href=''" class="title">Title Name</div>
                        <div class="author">Author</div>
                    </div>
                    <div class="border"></div>
                    <div class="categories">
                        <div class="categorie">cat.1</div>
                        <div class="categorie">cat.2</div>
                    </div>
                </div>
                <div class="post">
                    <div class="title_author">
                        <div onclick="location.href=''" class="title">Title Name</div>
                        <div class="author">Author</div>
                    </div>
                    <div class="border"></div>
                    <div class="categories">
                        <div class="categorie">cat.1</div>
                        <div class="categorie">cat.2</div>
                    </div>
                </div>
            </div>
        </header>
    </body>
</html>