<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/post.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Roboto+Mono:wght@200;400&display=swap" rel="stylesheet">
        <title>Forum</title>
    </head>
    <body>
        <div class="bg"></div>
        <div class="bg bg2"></div>
        <div class="bg bg3"></div>
        <header>
            <div class="logo_reg">
                <ul class="logo">
                    <li onclick="location.href='./home.html'" class="logo_link">Forum</li>
                </ul>
                <ul class="signs">
                    <li onclick="location.href=''" class="sign_link">Sign in</li>
                    <li onclick="location.href=''" class="sign_link">Sign up</li>
                </ul>
            </div>
            
        </header>
        <div class="post">
            <div class="post_area">
                <div class="title_author">
                    <div class="title">Title Name</div>
                    <div class="author">Author</div>
                </div>
                <div class="border"></div>
                <div class="categories">
                    <div class="categorie">cat.1</div>
                    <div class="categorie">cat.2</div>
                </div>
                <div class="border"></div>
                <div class="description">Description Some things Some things Some things 
                    Some things Some things Some things 
                    Some things Some things Some things 
                    Some things Some things Some things 
                    Some things Some things Some things 
                    Some things Some things Some things 
                    Some things Some things Some things 
                    Some things Some things Some things 
                    Some things Some things Some things 
                    Some things Some things Some things 
                    Some things Some things Some things 
                    Some things Some things Some things 
                    Some things Some things Some things 
                    Some things Some things Some things 
                </div>
            </div>
            <div class="btns">
                <div class="like_btn"><img class="like" src="../static/images/like_btn.png"></div>
                <div class="rating">0</div>
                <div class="dislike_btn"><img class="like" src="../static/images/dislike_btn.png"></div>
            </div>
            <div class="comment_area">
                Your comment
                <textarea rows="4" cols="50">I agree</textarea>
                <button>submit</button>
            </div>
            <div class="comments">
                <div class="comment_author">Author's comment</div>
                <div class="border"></div>
                <div class="comment">Comment</div>
            </div>
            <div class="comments">
                <div class="comment_author">Author's comment</div>
                <div class="border"></div>
                <div class="comment">Comment</div>
            </div>
            <div class="comments">
                <div class="comment_author">Author's comment</div>
                <div class="border"></div>
                <div class="comment">Comment</div>
            </div>
            <div class="comments">
                <div class="comment_author">Author's comment</div>
                <div class="border"></div>
                <div class="comment">Comment</div>
            </div>
        </div>
        <footer>
            <div class="authors">Development by @HgCl2 & @aleebeg</div>
            <div class="year">2022</div>
        </footer>
    </body>
</html>