<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../static/css/profile.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Roboto+Mono:wght@200;400&display=swap" rel="stylesheet">
        <title>Forum</title>
    </head>
    <body>

        <!-- Background -->
        <div class="bg"></div>
        <div class="bg bg2"></div>
        <div class="bg bg3"></div>
        <!-- End of Background -->

        <!-- Navigation Menu -->
        <header>
            <div class="logo_reg">
                <ul class="logo">
                    <li onclick="location.href='/'" class="logo_link">Forum</li>
                </ul>
                <ul class="signs">
                    <li onclick="location.href='/create-post'" class="create_btn">Create post</li>
                    <li class="profile_drop">
                        <div class="dropbtn">{{ .User.Nickname }}</div>
                        <div class="dropdown_content">
                            <a href="./{{.User.Nickname}}">Profile</a>
                            <a href="/logout">Log Out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <!-- End of navigation Menu -->

        <!-- User's Information -->
        <div class="main">
            <div class="main_nickname">{{ .User.Nickname }}</div>
            <div class="main_desc">
                <div class="main_firstName">First Name: {{ .User.Firstname }}</div>
                <div class="main_lastName">Last Name: {{ .User.Lastname }}</div>
                <div class="main_mail">Email: {{ .User.Email }}</div>
            </div>
        </div>
        <!-- End of User's Information -->

        <!-- Filters of posts -->
        <div class="tabs">
            <div class="tab_link" onclick="openFilter(event, 'Posts')" id="defaultOpen">Posts</div>
            <div class="tab_link" onclick="openFilter(event, 'Likes')">Likes</div>
        </div>
        <div class="tab_content" id="Posts">
            {{ range .Posts }}
            <div class="post">
                <div class="title_author">
                    <div onclick="location.href='/post/{{.Id}}'" class="title">{{ .Title }}</div>
                    <div class="author">{{ .Author }}</div>
                </div>
                <div class="border"></div>
                <div class="categories">
                    {{ range .Categories }}
                    <div class="categorie">{{ . }}</div>
                    {{ end }}
                </div>
            </div>
            {{ else }}
            <div class="no_posts">You don't have any created posts</div>
            {{ end }}
        </div>        
        <div class="tab_content" id="Likes">
            {{ range .LikedPosts }}
            <div class="post">
                <div class="title_author">
                    <div onclick="location.href='/post/{{.Id}}'" class="title">{{ .Title }}</div>
                    <div class="author">{{ .Author }}</div>
                </div>
                <div class="border"></div>
                <div class="categories">
                    {{ range .Categories }}
                    <div class="categorie">{{ . }}</div>
                    {{ end }}
                </div>
            </div>
            {{ else }}
            <div class="no_posts">You didn't like any posts</div>
            {{ end }}
        </div>
        <!-- End of Filters -->

        <!-- Footer -->
        <footer>
            <div class="authors">Development by @HgCl2 & @aleebeg & @Alfarabi09</div>
            <div class="year">2022</div>
        </footer>
        <!-- End of Footer -->

        <!-- JS Scripts -->
        <script>
            // Changing of Filter
            function openFilter(evt, filter) {
            var i, tabcontent, tablinks;

            tabcontent = document.getElementsByClassName("tab_content");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            tablinks = document.getElementsByClassName("tab_link");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            document.getElementById(filter).style.display = "block";
            evt.currentTarget.className += " active";
            } 
            
            document.getElementById("defaultOpen").click();
        </script>
        <!-- End of Scripts -->
    </body>
</html>