*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color:#F4EBD0;
}

/* BODY */

body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;

    font-size: 18px;
    line-height: 1.6;    
    
    max-width: 1400px;
    margin: 0 auto;

    color: #333652;
    word-wrap: break-word
}

.bg {
    animation:slide 10s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #333652 50%, #E9EAEC 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}
  
.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:15s;
}
  
.bg3 {
    animation-duration:20s;
}

@keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
}

/* HEADER */

.logo_reg {
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
    background-color:#333652;
}

.logo {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.logo_link {
    font-size: 25px;
    text-align: center;
    padding: 12px;
    color: #E9EAEC;
}

.logo:hover {
    cursor: pointer;
}

.signs {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.sign_link {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: #E9EAEC;
}

.sign_link:hover {
    cursor: pointer;
    color: #333652;
    background-color: #E9EAEC;
}

/* SIGN UP */

.sign_up {
    display: block;
    border: 2px solid #333652;
    background-color: #E9EAEC;
    width: 100%;
    padding: 10px;
}

.sign_in {
    display: grid;
    grid-template-columns: auto;
    border: 2px solid #333652;
    background-color: #E9EAEC;
    width: 100%;
    padding: 10px;
}

.title {
    text-align: center;
    font-size: 25px;
}

.inputs_up {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 30px;
    column-gap: 10px;
    margin: 20px 0;
}

.inputs_up input {
    background-color: #fff;
    color: #333652;
    border: 2px solid #333652;
    font-size: 18px;
    padding: 10px;
}

.inputs_in {
    display: block;
    width: 50%;
    margin: 0 auto;
}

.inputs_in input {
    background-color: #fff;
    color: #333652;
    border: 2px solid #333652;
    width: 100%;
    font-size: 18px;
    padding: 10px;
    margin: 10px auto;
}

.textarea_signup:focus {
    outline: none;
}

.signin_btn {
    background-color: #333652;
    color: #E9EAEC;
    border: none;
    padding: 15px 40px; 
    font-size: 18px;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 10px;
}

.signin_btn:hover {
    background-color: #fff;
    color: #333652;
}

.signup_btn {
    background-color: #333652;
    color: #E9EAEC;
    border: none;
    padding: 15px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 10px;
}

.signup_btn:hover {
    background-color: #fff;
    color: #333652;
}

/* FOOTER */

footer {
    bottom: 0;
    text-align: center;
}