*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color:#F4EBD0;
}

/* BODY */
body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;

    font-size: 18px;
    line-height: 1.6;    
    
    max-width: 1400px;
    margin: 0 auto;

    color: #122620;
}

.bg {
    animation:slide 10s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #122620 50%, #F4EBD0 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}
  
.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:15s;
}
  
.bg3 {
    animation-duration:20s;
}

@keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
}

/* HEADER */
.logo_reg {
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
    background-color:#122620;
}

.logo_text {
    font-size: 25px;
    margin: 10px 10px 10px 15px;
    color: #F4EBD0;
}

.signs {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.sign_link {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: #F4EBD0;
}

.sign_link:hover {
    cursor: pointer;
    color: #122620;
    background-color: #F4EBD0;
}

/* LINE */

.post {
    border: 2px solid;
    padding: 10px 15px 0px 15px;
    margin-bottom: 15px;
    background-color: #F4EBD0;
}

.title_author {
    display: flex;
    justify-content: space-between;
}

.border {
    border-bottom: 2px solid;
    margin: 5px -15px;
}

.title {
    font-size: 23px;
}

.title:hover {
    cursor: pointer;
}

.categories {
    margin: 10px auto;
    display: flex;
    justify-content: flex-start;
}

.categorie {
    font-size: 14px;
    border: 1px solid;
    margin: auto 5px;
    padding: 3px;
}
